<%- include('header', {}); %>

<h1 class="text-center">Add Category</h1>

<% if (errors && typeof errors == 'object') { %>
	<div class="alert alert-danger">
		<ul>
	  	<% for(var k in errors){ %>
	  		<li><%= errors[k].msg; %></li>
	  	<% } %>
	  	</ul>
  	</div>
<% } %>

<form method="POST" class="form" action="/categories/add">
	<div class="form-group">
		<label>Title:</label>
		<input type="text" name="title" class="form-control"
			<% if (fields) { %> value="<%= fields.title; %>" <% } %>
		/>
	</div>
	<input type="submit" value="Submit" class="btn btn-success">
</form>

<%- include('footer', {}); %>