<%- include('header', {}); %>

<h1>Add Category</h1>

<% if (errors && typeof errors == 'object') { %>
	<ul>
  	<% for(var k in errors){ %>
  		<li><%= errors[k].msg; %></li>
  	<% } %>
  	</ul>
<% } %>

<form method="POST" action="/categories/add">
	<div class="form-group">
		<label>Title:</label>
		<input type="text" name="title" 
			<% if (fields) { %> value="<%= fields.title; %>" <% } %>
		/>
	</div>
	<input type="submit" value="Submit">
</form>

<%- include('footer', {}); %>