<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/blog.css">
</head>
<body>
	<header class="blog-header py-3">
		<div class="container">
			<nav class="nav">
				<a class="p-2 text-muted" href="/">Home</a>
				<a class="p-2 text-muted" href="/posts">Posts</a>
				<a class="p-2 text-muted" href="/posts/add">Add Post</a>
				<a class="p-2 text-muted" href="/categories/add">Add Category</a>
			</nav>
		</div>
	</header>

	<section>
		<div class="container">