<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/posts">Posts</a>
				</li>
				<li>
					<a href="/posts/add">Add Post</a>
				</li>
				<li>
					<a href="/categories/add">Add Category</a>
				</li>
			</ul>
		</nav>
	</header>