body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	text-transform: uppercase;
}

pre{
	background: #eae9e9;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

/* Navigation */
nav ul{
	padding-left: 0;
	list-style: none;
}
nav ul li{
	display: inline-block;
    margin-right: 10px;
}